default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500

  workers:
    - queues: [pvp_sync_2v2, pvp_sync_3v3, pvp_sync_rbg, pvp_sync_shuffle]
      threads: 2
      processes: 1
      polling_interval: 0.1

    - queues: [pvp_processing]
      threads: <%= ENV.fetch("RAILS_ENV") == 'development' ? 32 : 5 %>
      processes: 1
      polling_interval: 0.05

    - queues: "*"
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default